# Compiled Elm output
static/elm.js linguist-generated
crates/hp-tauri/dist/elm.js linguist-generated

# Tauri generated schemas
crates/hp-tauri/gen/** linguist-generated

# Test baselines
tests/baselines/** linguist-generated

# Cargo lock
Cargo.lock linguist-generated
